@import "tailwindcss";
@import "@kamalion/ui/dist/styles.css";

:root {
  --color-accent: var(--color-indigo-500);
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

@theme {
  --color-accent: var(--color-accent);
}

body, #root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  @apply flex h-screen w-full;
}

@layer components {
  .font-sen {
    font-family: Sen;
  }

  .font-montserrat {
    font-family: Montserrat;
  }
}
